
/* #region utility  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --sfondo: #000000;
    --footer: #222222;
    --right_footer: #4A4A4A;
    --icon_footer: #4BC800;
    --sfondo_pincopallo: #64707A;
    --meeting: #E52623;
    --light: #FFFFFF;
}

body{
    background-color: var(--sfondo);
    width: 100vw;
    height: 100vh;
    color: white;
}

/* #endregion utility */


/* #region header  */

nav{
    text-align: end;
}

.speaker{
    background-color: var(--right_footer);
    display: inline-block;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-right: 0.25rem;
}


/* #endregion header  */

/* #region main  */

/* #endregion main  */

/* #region footer  */

/* #endregion footer  */
