
/* #region utility  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --sfondo: #000000;
    --footer: #222222;
    --right_footer: #4A4A4A;
    --icon_footer: #4BC800;
    --sfondo_pincopallo: #64707A;
    --meeting: #E52623;
    --light: #FFFFFF;
}

body{
    background-color: var(--sfondo);
    color: white;
}

.container{
    max-width: 1980px;
    padding-top: 40px;
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.test_position{
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    background-color: #64707a76;
    border-radius: 0.5rem;
}

/* #region col_ */

.col_test{
    width: calc((100% / 12) * (12 / 7) -5px );
    margin: 5px;
    margin-top: 10px;
    position: relative;
}

.col_test1{
    width: calc((100% / 12) * 1,71428571);
}

.col_1{
    width: calc( (100% / 12) * 1);
}

.col_2{
    width: calc( (100% / 12) * 2);
}

.col_3{
    width: calc( (100% / 12) * 3);
}

.col_4{
    width: calc( (100% / 12) * 4);
}

.col_5{
    width: calc( (100% / 12) * 5);
}

.col_6{
    width: calc( (100% / 12) * 6);
}

.col_7{
    width: calc( (100% / 12) * 7);
}

.col_8{
    width: calc( (100% / 12) * 8);
}

.col_9{
    width: calc( (100% / 12) * 9);
}

.col_10{
    width: calc( (100% / 12) * 10);
}

.col_11{
    width: calc( (100% / 12) * 11);
}

.col_12{
    width: calc( (100% / 12) * 12);
}

/* #endregion col_ */

/* #endregion utility */


/* #region header  */

nav{
    text-align: end;
}

.speaker{
    background-color: var(--right_footer);
    display: inline-block;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-right: 0.25rem;
}


/* #endregion header  */

/* #region main  */

img{
    height: 100%;
    width: 100%;
}

/* #endregion main  */

/* #region footer  */

.flex{
    display: flex;
    justify-content: space-between; 
}


.container_footer{
    background-color: var(--footer);
    margin-top: 25px;
}

.left, .middle{
    margin-top: 15px;
}

.middle{
    text-align: center;

}

footer i {
    font-size: 30px;
}

.fa-microphone{
    margin-left: 1.4rem;
}

.fa-video{
    margin-left: 2.2rem;
}

.fa-user-plus{
    margin-left: 1.8rem;
}

.fa-chart-column, .fa-comment, .fa-record-vinyl {
    margin-left: 1.2rem;
}

.fa-share-from-square{
    color: var(--icon_footer);
    margin-left: 1.2rem;
}


.fa-ellipsis{
    margin-left: 1rem;
}

.description{
    margin-left: 1rem;
    margin-top: 0.4rem;
}

.up{
    margin: 1.5rem;
}


.meeting{
    color: var(--meeting);
    background-color: var(--right_footer);
    padding: 2rem;
}

/* #endregion footer  */
